<section id="about" class="text-center pb-5">
    <img src="img/photo.png" alt="about" class="rounded-circle m-auto col-3">
    <h1 class="text-uppercase font-weight-bold">{{ .Site.Title }}</h1>
    <hr class="code">
    <div class="description pb-4">{{.Site.Params.description}}</div>
    <p class="text-center col-8 mx-auto lead">Soy un desarrollador emprendedor, me gustan los retos ya que pienso 
        que éstos fortalecen la forma en la que nos dirigimos en el día a día. 
        Gusto del estudio, soy autodidacta por naturaleza, pongo especial atención en los 
        detalles y busco innovar constantemente.</p>
</section>