<section class="success" id="about">
    <div class="container">
        <h2 class="text-center">About</h2>
        <hr class="star-light">
        <div class="row">
            <div class="col-lg-4 offset-lg-2">
                <p>
                    I am an enterprising developer, I like the challenges since I think that these strengthen the way in which we go in the day to day. </p>
            </div>
            <div class="col-lg-4">
                <p>I like the study, I am self-taught by nature, I pay special attention to the details and I look for to innovate constantly.</p>
            </div>
        </div>
    </div>
</section>