<section id="portfolio">
    <div class="container">
        <h2 class="text-center">Portfolio</h2>
        <hr class="star-primary">
        <div class="row">
            {% for post in site.posts %}
                <div class="col-sm-4 portfolio-item">
                    <div class="portfolio-link" href="#{{ post.modalID }}" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ site.baseurl }}/{{ post.img }}" alt="">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>