<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

<body class="index" id="page-top">

    <!-- Navigation -->
    {% include navbar.html %}

    <!-- Header -->
    {% include header.html %}

    <!-- Portfolio Grid Section -->
    {% include portfolio.html %}

    <!-- About Section -->
    {% include about.html %}

    <!-- Contact Section -->
    {% include contact.html %}

    <!-- Footer -->
    {% include footer.html %}

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    {% include scroll.html %}

    <!-- Portfolio Modals -->
    {% include modals.html %}

    <!-- JavaScript -->
    {% include javascript.html %}

</body>

</html>
